* {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

#bookmark-app-form {

}

.bookmark-list {
  list-style: none;
}

.bookmark-block {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  color: gray;
  flex-direction: column;
}

.button-visit-site a {
  text-decoration: none;
  color: black;
}

.button-toggle-details {
  align-items: flex-end;
}

.button-delete {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .button-delete {
    visibility: hidden;
  }

  .bookmark-block:hover .button-delete {
    visibility: visible;
  }
}

 .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
 }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

/* ANIMATION FOR STAR RATING SPAN*/
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

/* .selected {
  content: "\2605";
} */

/* 
*,
*:before,
*:after {
  box-sizing: border-box;
}

.star-rating {
  display: none;
}

.star-rating + label:before {
  display: inline-block;
  content: '\2606';
}

input[type="radio"]:checked + label:before {
  content: '\2605';
  background-color: pink;
} */